@charset "UTF-8";
*{
  box-sizing:border-box;
}
html {
  font-size: 100%;
}
body {
  color: #24292e;
  font-size: 0.9rem;
}
a {
  text-decoration: none; /*リンク下線削除*/
  color: #24292e;      /*リンク色を変えない*/
}

a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
.site-title {
  width: 300px;
  line-height: 1px;
  padding: 10px 0;
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}
.content-title {
  font-size: 1rem;  
  margin: 10px 0;
}
.container {
  max-width: 960px;
  margin: 0 auto 100px auto;
  padding: 0 4%;
  text-align: center;
  
}

/*-------------------------------------------
header
-------------------------------------------*/
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#header ul{
  display: flex;
  padding: 10px 0;
}

#header li {
  margin-left: 30px;
}
#header li a {
  color: #24292e;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit: cover;
  position: relative;
 }

#mainvisual p {
  position: absolute;
  top:100px;
  left:500px;
  color:white;
}
#mainvisual {
  margin-bottom: 80px;
}
/*-------------------------------------------
About
-------------------------------------------*/
#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#about img {
  width: 100px;   /*★あとで120pxにもどす？*/
  height: 100px;  /*★あとで160pxにもどす？*/
  border-radius: 50%;
  margin-right: 30px;
}
#about .text {
  display:inline-block;
  text-align: left;
}

/*-------------------------------------------
Works
-------------------------------------------*/
#works ul {
  display: flex;
  justify-content: space-between;
}

#works li {
  width: 32%;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
#Contact input,textarea{
  text-align: center;
 }
#Contact textarea{
  margin-bottom: 10px;
}
/*-------------------------------------------
Page-top
-------------------------------------------*/
#page-top {
  width:150px;
  height:38px;
  border-radius: 10px;
  font-weight: bold;
  background:gray;
  padding:.7em;
  text-align: center;
  margin:0 0 0 auto;
  transition: .3s;
}

/*-------------------------------------------
Footer
-------------------------------------------*/
#footer{
  font-size:0.73em;
  text-align: center;
}


/*-------------------------------------------
レスポンシブ対応
-------------------------------------------*/
@media(max-width:1000px){
  .container{
    width:50%;
  }
}
@media(max-width:670px){

  .container{
    width:100%;
  }
  #Contact textarea{
    width:100%;
  }
}
